@inherits BaseComponent

@if (!string.IsNullOrEmpty(Href))
{
    <a @attributes="AdditionalAttributes"
       @ref="Reference"
       class="@this.GetClasses()"
       disabled="@Disabled"
       href="@Href">
        <span>
            @ChildContent
        </span>
        @if (Loading)
        {
            <Spinner Color="Color" />
        }
    </a>
}
else
{
    <button @attributes="AdditionalAttributes"
            @ref="Reference"
            class="@this.GetClasses()"
            disabled="@Disabled"
            type="@Type.ToString()"
            @onclick="OnClick">
        <span>
            @ChildContent
        </span>
        @if (Loading)
        {
            <Spinner Color="Color" />
        }
    </button>
}

@code {

    [Parameter]
    [CssProperty]
    public Colors Color { get; set; } = Colors.Default;

    [Parameter]
    [CssProperty]
    public bool Disabled { get; set; } = false;

    [Parameter]
    [CssProperty]
    public bool Ghost { get; set; } = false;

    [Parameter]
    public string? Href { get; set; }

    [Parameter]
    [CssProperty]
    public bool Loading { get; set; } = false;

    [Parameter]
    [CssProperty]
    public bool Outline { get; set; } = false;

    [Parameter]
    public ElementReference Reference { get; set; }

    [Parameter]
    [CssProperty]
    public Sizes Size { get; set; } = Sizes.Medium;

    [Parameter]
    public ButtonTypes Type { get; set; } = ButtonTypes.Button;

    [Parameter]
    public EventCallback<MouseEventArgs> OnClick { get; set; }
}
