@inherits Button

<Button @attributes="AdditionalAttributes"
    Color="@Color"
    Size="@Size"
    Outline="@Outline"
    Ghost="@Ghost"
    Loading="@Loading"
    OnClick="HandleClick">
    @ChildContent
    <Icon Name="IconNames.ChevronDown" />
</Button>

@code {
    [CascadingParameter]
    public Dropdown Parent { get; set; }

    [Parameter]
    public string Id { get; set; } = "dropdown-" + Guid.NewGuid().ToString();

    [Parameter]
    public string Text { get; set; }

    private void HandleClick()
    {
        Parent.Toggle();
    }

}
