@page "/{**Route:nonfile}"

<PageTitle>@ViewState.Page?.Title</PageTitle>
@if (ViewState.Type == ViewStateType.PageEdit)
{
    <HeadContent>
        <link rel="stylesheet" href="/_content/FluentCMS.Web.UI/css/sitebuilder.editor.css">
    </HeadContent>
    <div class="f-page-editor">
        <Toolbar>
            <ActionsStart>
                <ToolbarButton data-action="back">
                    Back
                </ToolbarButton>
                <ToolbarButton data-action="pages-list">
                    <svg class="f-toolbar-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M7 2h9.5L21 6.5V19"/><path d="M3 20.5v-14A1.5 1.5 0 0 1 4.5 5h9.752a.6.6 0 0 1 .424.176l3.148 3.148A.6.6 0 0 1 18 8.75V20.5a1.5 1.5 0 0 1-1.5 1.5h-12A1.5 1.5 0 0 1 3 20.5"/><path d="M14 5v3.4a.6.6 0 0 0 .6.6H18"/></g></svg>
                    Pages
                </ToolbarButton>
                <ToolbarButton data-action="page-settings">
                    <svg class="f-toolbar-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"><path d="M12 15a3 3 0 1 0 0-6a3 3 0 0 0 0 6"/><path d="m19.622 10.395l-1.097-2.65L20 6l-2-2l-1.735 1.483l-2.707-1.113L12.935 2h-1.954l-.632 2.401l-2.645 1.115L6 4L4 6l1.453 1.789l-1.08 2.657L2 11v2l2.401.656L5.516 16.3L4 18l2 2l1.791-1.46l2.606 1.072L11 22h2l.604-2.387l2.651-1.098C16.697 18.832 18 20 18 20l2-2l-1.484-1.75l1.098-2.652l2.386-.62V11z"/></g></svg>
                    Settings
                </ToolbarButton>
            </ActionsStart>
            
            <ActionsCenter>
                <ToolbarButton>Mobile</ToolbarButton>
                <ToolbarButton>Tablet</ToolbarButton>
                <ToolbarButton>Laptop</ToolbarButton>
                <ToolbarButton>Monitor</ToolbarButton>
            </ActionsCenter>
            <ActionsEnd>
                <ToolbarButton data-enhance-nav="false" Href="@NavigationManager.Uri.Replace("?pageEdit=true", "")">
                    Done
                </ToolbarButton>
            </ActionsEnd>
        </Toolbar>
        <div class="f-page-editor-iframe-wrapper">
            <div class="f-page-editor-iframe-resizer">
            </div>
            <iframe class="f-page-editor-iframe" src="@NavigationManager.Uri.Replace("pageEdit", "pagePreview")">
            </iframe>
        </div>
        <PageEditorSidebar />
    </div>
    <PageEditorForms />
    <script type="module" src="/_content/FluentCMS.Web.UI/js/sitebuilder.editor.js"></script>
}
else if (ViewState.Type == ViewStateType.PagePreview)
{
    <HeadContent>
        <link rel="stylesheet" href="/_content/FluentCMS.Web.UI/css/sitebuilder.preview.css">
        @RenderDynamicContent(ViewState.Layout?.Head ?? string.Empty)
    </HeadContent>
    @RenderDynamicContent(ViewState.Layout?.Body ?? string.Empty)

    <PluginActionsForms />

    <script type="module" src="/_content/FluentCMS.Web.UI/js/sitebuilder.preview.js"></script>
}
else
{
    
    <HeadContent>
        @RenderDynamicContent(ViewState.Layout?.Head ?? string.Empty)
        @if (ViewState.Type == ViewStateType.Default && !ViewState.Page.Locked)
        {
            <link rel="stylesheet" href="/_content/FluentCMS.Web.UI/css/sitebuilder.default.css">
        }            
        <link rel="stylesheet" href="/_content/FluentCMS.Web.UI/css/grid-system.css">
    </HeadContent>
    @if (ViewState.Type == ViewStateType.Default && !ViewState.Page.Locked)
    {
        <Toolbar>
            <ActionsStart>
                
            </ActionsStart>
            
            <ActionsCenter>

            </ActionsCenter>
            <ActionsEnd>
                <ToolbarButton id="editContentButton">
                    Edit Content
                </ToolbarButton>

                <ToolbarButton id="editButton">
                    Edit
                </ToolbarButton>
            </ActionsEnd>
        </Toolbar>

    }

    @RenderDynamicContent(ViewState.Layout?.Body ?? string.Empty)
    @if (ViewState.Type == ViewStateType.Default && !ViewState.Page.Locked)
    {
        <PluginActionsForms />
    }

    <script type="module" src="/_content/FluentCMS.Web.UI/js/sitebuilder.default.js"></script>
}
