@typeparam TValue

@inherits BaseInputBlock<TValue>

@namespace FluentCMS.Web.UI.Components

@if (Visible)
{
    <FormField Cols="Cols" Dense="@Dense" Id="@Id" Label="@Label" LabelFragment="@LabelFragment" Required="@Required">
        @if (_isMultipleSelect)
        {
            <select @attributes="AdditionalAttributes" class="@this.GetClasses()" disabled="@Disabled" id="@Id" multiple="@_isMultipleSelect" 
                    name="@NameAttributeValue" value="@BindConverter.FormatValue(CurrentValue)?.ToString()"
                    @onchange="EventCallback.Factory.CreateBinder<string?[]?>(this, SetCurrentValueAsStringArray, default)">
                @if (!string.IsNullOrEmpty(Placeholder))
                {
                    <option disabled selected value="">@Placeholder</option>
                }
                @ChildContent
            </select>
        }
        else
        {
            <select @attributes="AdditionalAttributes" class="" disabled="@Disabled" id="@Id" multiple="@_isMultipleSelect" name="@NameAttributeValue" @bind="@CurrentValueAsString">
                @if (!string.IsNullOrEmpty(Placeholder))
                {
                    <option disabled selected value="">@Placeholder</option>
                }
                @ChildContent
            </select>
        }
    </FormField>
}
