@rendermode InteractiveServer

<div class="m-4">
    <Typography Size="TextSize.H5">Edit Contact Us settings</Typography>            
    <Spacer />
    <Card>
        <CardBody>
            @if (Model != null)
            {
                <EditForm Model="@Model" OnSubmit="OnSubmit" FormName="@PLUGIN_SETTINGS_FORM" Enhance>
                    <DataAnnotationsValidator />
                    <Spacer />
                    <Grid GutterX="GridGutter.Large">
                        <FormInput Placeholder="Enter Your Email address" @bind-Value="@Model!.EmailAddress" Label="EmailAddress" />
                        <FormActions Submit Cancel />
                        <GridItem Small="GridItemColumn.Twelve">
                            <Stack>
                                <Button Color="Color.Primary" Type="ButtonType.Submit">
                                    Submit
                                </Button>
                                <Button data-enhance-nav="false" Href="@GetBackUrl()">
                                    Cancel
                                </Button>
                            </Stack>
                        </GridItem>
                    </Grid>
                </EditForm>
            }
        </CardBody>
    </Card>
    <Spacer />
    <Typography Size="TextSize.H5">Submitted contact requests</Typography>            
    <Spacer />
    <Card>
        <DataTable Items="Items">
            <DataTableItem Label="Email">@context.Email</DataTableItem>
            <DataTableItem Label="Subject">@context.Subject</DataTableItem>
            <DataTableItem Label="Message">@context.Message</DataTableItem>
        </DataTable>
    </Card>
</div>
