@inherits BaseContentTypeFieldComponent

@namespace FluentCMS.Web.Plugins.Admin.ContentTypeManagement

@if (Visible)
{
    @if (ContentType?.Fields != null)
    {
        <DataTable Items="ContentType!.Fields!.ToList()">
            <DataTableItem Label="Name">
                @context.Name
            </DataTableItem>
            <DataTableItem Label="Type">
                @if (FieldTypes != null)
                {
                    @FieldTypes[context.Type]?.Title
                }
            </DataTableItem>
            @*   <DataTableItem Label="Required">
    @context.Settings.Required
    </DataTableItem>
    <DataTableItem Label="Label">
    @context.Settings.Label
    </DataTableItem>
    <DataTableItem Label="Description">
    @context.Settings.Description
    </DataTableItem> *@
            <DataTableItem>
                <div class="flex gap-2">
                    <Button Color="Color.Primary" Size="ButtonSize.Small" @onclick="() => OnEditClick(context)">
                        <Icon Name="IconName.Edit" />Edit
                    </Button>
                    <Button Color="Color.Danger" Outline Size="ButtonSize.Small" @onclick="() => OnDeleteClick(context)">
                        <Icon Name="IconName.Delete" />Delete
                    </Button>
                </div>
            </DataTableItem>
        </DataTable>
    }
}
