@page "/previews/components/badge"
@rendermode InteractiveServer
@layout ComponentsLayout

<PageHeader HasBack Title="Badges"/>

<div class="py-4 flex gap-2">
    <Badge>Badge Content</Badge>
    <Badge Color="@ColorEnum.Primary">Primary</Badge>
    <Badge Color="@ColorEnum.Secondary">Secondary</Badge>
    <Badge Color="@ColorEnum.Success">Success</Badge>
    <Badge Color="@ColorEnum.Danger">Danger</Badge>
    <Badge Color="@ColorEnum.Warning">Warning</Badge>
    <Badge Color="@ColorEnum.Info">Info</Badge>
</div>

