@page "/previews/components/spinner"
@layout ComponentsLayout
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Spinner"/>

    <PageBody>
        <Preview Title="Default">
            <Description>
                Use the spinner component as a loader indicator in your projects when fetching data based on an animated SVG
            </Description>
            <ChildContent>
                <div class="flex gap-4">
                    <Spinner />
                    <Spinner Color="@Colors.Primary" />
                    <Spinner Color="@Colors.Secondary" />
                    <Spinner Color="@Colors.Success" />
                    <Spinner Color="@Colors.Danger" />
                    <Spinner Color="@Colors.Warning" />
                    <Spinner Color="@Colors.Info" />
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>
