@page "/previews/components/spinner"
@layout ComponentsLayout
@rendermode InteractiveServer

<Page>
    <PageHeader HasBack Title="Spinner"/>

    <PageBody>
        <Preview Title="Default">
            <Description>
                Use the spinner component as a loader indicator in your projects when fetching data based on an animated SVG
            </Description>
            <ChildContent>
                <div class="flex gap-4">
                    <Spinner />
                    <Spinner Color="@ColorEnum.Primary" />
                    <Spinner Color="@ColorEnum.Secondary" />
                    <Spinner Color="@ColorEnum.Success" />
                    <Spinner Color="@ColorEnum.Danger" />
                    <Spinner Color="@ColorEnum.Warning" />
                    <Spinner Color="@ColorEnum.Info" />
                </div>
            </ChildContent>
        </Preview>
    </PageBody>
</Page>
