@page "/previews/components/spinner"
@layout ComponentsLayout
@rendermode InteractiveServer

<PageHeader HasBack Title="Spinner"/>

<div class="py-4 flex gap-4">
    <Spinner />
    <Spinner Color="@ColorEnum.Primary" />
    <Spinner Color="@ColorEnum.Secondary" />
    <Spinner Color="@ColorEnum.Success" />
    <Spinner Color="@ColorEnum.Danger" />
    <Spinner Color="@ColorEnum.Warning" />
    <Spinner Color="@ColorEnum.Info" />
</div>

