@page "/previews/components"
@layout PanelLayout

<PageHeader Title="Components">
    <PageActions>
        <NavigationButton To="/">Go Back</NavigationButton>
    </PageActions>
</PageHeader>

<div class="py-8">
    <h2 class="font-bold text-2xl">Buttons</h2>
    <div class="py-4 flex gap-4">
        <Button>Hello</Button>
        <Button color="primary">Hello</Button>
    </div>
</div>

<div class="py-8">
    <h2 class="font-bold text-2xl">Alerts</h2>
    <div class="py-4 flex flex-col gap-4">
        <Alert Type="success"> Change a few things up and try submitting again.</Alert>
        <Alert Dismissible Type="warning"> Change a few things up and try submitting again.</Alert>
        <Alert Type="danger"> Change a few things up and try submitting again.</Alert>
        <Alert Type="info"> Change a few things up and try submitting again.</Alert>
    </div>
</div>

<div class="py-8">
    <h2 class="font-bold text-2xl">Badges</h2>
    <div class="py-4 flex gap-2">
        <Badge>Badge Content</Badge>
        <Badge Color="@ColorEnum.Primary">Primary</Badge>
        <Badge Color="@ColorEnum.Secondary">Secondary</Badge>
        <Badge Color="@ColorEnum.Success">Success</Badge>
        <Badge Color="@ColorEnum.Danger">Danger</Badge>
        <Badge Color="@ColorEnum.Warning">Warning</Badge>
        <Badge Color="@ColorEnum.Info">Info</Badge>
    </div>
</div>

<div class="py-8">
    <h2 class="font-bold text-2xl">Icons</h2>
    <div class="py-4 flex flex-col gap-4">
        <Icon Name="IconDefinition.Plus" />
        <Icon Name="IconDefinition.InformationFilled" />
        <Icon Name="IconDefinition.Delete" />
    </div>
    <div class="py-4 flex flex-col gap-4">
        <h1 class="text-4xl">
            <Icon Name="IconDefinition.InformationFilled" /> Default
        </h1>


        <div>
            <Icon Size="SizeEnum.Small" Name="IconDefinition.InformationFilled" /> Small
        </div>

        <div>
            <Icon Size="SizeEnum.Medium" Name="IconDefinition.InformationFilled" /> Medium

        </div>
        <div>
            <Icon Size="SizeEnum.Large" Name="IconDefinition.InformationFilled" /> Large
        </div>
    </div>
    <div class="py-4 flex flex-col gap-4">
        <h1 class="text-4xl">
            <Icon Color="ColorEnum.Primary" Name="IconDefinition.InformationFilled" /> Primary
        </h1>
        <h1 class="text-4xl">
            <Icon Color="ColorEnum.Secondary" Name="IconDefinition.InformationFilled" /> Secondary
        </h1>
        <h1 class="text-4xl">
            <Icon Color="ColorEnum.Success" Name="IconDefinition.InformationFilled" /> Success
        </h1>
        <h1 class="text-4xl">
            <Icon Color="ColorEnum.Danger" Name="IconDefinition.InformationFilled" /> Danger
        </h1>

        <h1 class="text-4xl">
            <Icon Color="ColorEnum.Info" Name="IconDefinition.InformationFilled" /> Info
        </h1>

        <h1 class="text-4xl">
            <Icon Color="ColorEnum.Warning" Name="IconDefinition.InformationFilled" /> Warning
        </h1>

    </div>
</div>

<div class="py-8">
    <h2 class="font-bold text-2xl">Checkbox</h2>
    <div class="py-4 flex flex-col gap-4">
        <Checkbox>Child Content</Checkbox>
        <Checkbox Text="Text" />
        <Checkbox Checked Text="Checked"></Checkbox>
        <Checkbox Checked Disbled Text="Checked Disaled"></Checkbox>
        <Checkbox Disabled Text="Disaled"></Checkbox>
    </div>
</div>
