@page "/previews/components"
@layout PanelLayout
@rendermode InteractiveServer


<div class="px-4 mx-auto container">

    <PageHeader Title="Components">
        <PageActions>
            <NavigationButton To="/">Go Back</NavigationButton>
        </PageActions>
    </PageHeader>

    @* #region Alert *@
    <div class="py-8">
        <h2 class="font-bold text-2xl">Alerts</h2>
        <div class="py-4 flex flex-col gap-4">
            <Alert Type="success"> Change a few things up and try submitting again.</Alert>
            <Alert Dismissible Type="warning"> Change a few things up and try submitting again.</Alert>
            <Alert Type="danger"> Change a few things up and try submitting again.</Alert>
            <Alert Type="info"> Change a few things up and try submitting again.</Alert>
        </div>
    </div>
    @* #endregion *@

    @* #region Badge *@
    <div class="py-8">
        <h2 class="font-bold text-2xl">Badges</h2>
        <div class="py-4 flex gap-2">
            <Badge>Badge Content</Badge>
            <Badge Color="@ColorEnum.Primary">Primary</Badge>
            <Badge Color="@ColorEnum.Secondary">Secondary</Badge>
            <Badge Color="@ColorEnum.Success">Success</Badge>
            <Badge Color="@ColorEnum.Danger">Danger</Badge>
            <Badge Color="@ColorEnum.Warning">Warning</Badge>
            <Badge Color="@ColorEnum.Info">Info</Badge>
        </div>
    </div>
    @* #endregion *@

    @* #region Icon *@
    <div class="py-8">
        <h2 class="font-bold text-2xl">Icons</h2>
        <div class="py-4 flex flex-col gap-4">
            <Icon Name="IconNameEnum.Plus" />
            <Icon Name="IconNameEnum.InformationFilled" />
            <Icon Name="IconNameEnum.Delete" />
        </div>
        <div class="py-4 flex flex-col gap-4">
            <h1 class="text-4xl">
                <Icon Name="IconNameEnum.InformationFilled" /> Default
            </h1>


            <div>
                <Icon Size="SizeEnum.Small" Name="IconNameEnum.InformationFilled" /> Small
            </div>

            <div>
                <Icon Size="SizeEnum.Medium" Name="IconNameEnum.InformationFilled" /> Medium

            </div>
            <div>
                <Icon Size="SizeEnum.Large" Name="IconNameEnum.InformationFilled" /> Large
            </div>
        </div>
        <div class="py-4 flex flex-col gap-4">
            <h1 class="text-4xl">
                <Icon Color="ColorEnum.Primary" Name="IconNameEnum.InformationFilled" /> Primary
            </h1>
            <h1 class="text-4xl">
                <Icon Color="ColorEnum.Secondary" Name="IconNameEnum.InformationFilled" /> Secondary
            </h1>
            <h1 class="text-4xl">
                <Icon Color="ColorEnum.Success" Name="IconNameEnum.InformationFilled" /> Success
            </h1>
            <h1 class="text-4xl">
                <Icon Color="ColorEnum.Danger" Name="IconNameEnum.InformationFilled" /> Danger
            </h1>

            <h1 class="text-4xl">
                <Icon Color="ColorEnum.Info" Name="IconNameEnum.InformationFilled" /> Info
            </h1>

            <h1 class="text-4xl">
                <Icon Color="ColorEnum.Warning" Name="IconNameEnum.InformationFilled" /> Warning
            </h1>

        </div>
    </div>
    @* #endregion *@

    @* #region Buttons *@
    <div class="py-8">
        <h2 class="font-bold text-2xl">Buttons</h2>
        <div class="py-4 flex gap-4">
            <ButtonGroup>
                <Button>Hello</Button>
                <Button Outline Color=@ColorEnum.Primary>Primary</Button>
                <Button Outline Color=@ColorEnum.Secondary>Secondary</Button>
                <Button Outline Color=@ColorEnum.Success>Success</Button>
                <Button Outline Color=@ColorEnum.Info>Info</Button>
                <Button Outline Color=@ColorEnum.Warning>Warning</Button>
                <Button Outline Color=@ColorEnum.Danger>Danger</Button>
            </ButtonGroup>
        </div>
        <div class="py-4 flex gap-4">
            <ButtonGroup>
                <Button Disabled>Hello</Button>
                <Button Disabled Color=@ColorEnum.Primary>Primary</Button>
                <Button Disabled Color=@ColorEnum.Secondary>Secondary</Button>
                <Button Disabled Color=@ColorEnum.Success>Success</Button>
                <Button Disabled Color=@ColorEnum.Info>Info</Button>
                <Button Disabled Color=@ColorEnum.Warning>Warning</Button>
                <Button Disabled Color=@ColorEnum.Danger>Danger</Button>
            </ButtonGroup>
        </div>
        <div class="py-4 flex gap-4">
            <Button>
                <Icon Name="IconNameEnum.InformationFilled" />
                Hello
            </Button>
            <Button Color=@ColorEnum.Primary>
                <Icon Name="IconNameEnum.InformationFilled" />
                Primary
            </Button>
            <Button Color=@ColorEnum.Secondary>
                <Icon Name="IconNameEnum.InformationFilled" />
                Secondary
            </Button>
            <Button Color=@ColorEnum.Success>
                <Icon Name="IconNameEnum.InformationFilled" />
                Success
            </Button>
            <Button Color=@ColorEnum.Info>
                <Icon Name="IconNameEnum.InformationFilled" />
                Info
            </Button>
            <Button Color=@ColorEnum.Warning>
                <Icon Name="IconNameEnum.InformationFilled" />
                Warning
            </Button>
            <Button Color=@ColorEnum.Danger>
                <Icon Name="IconNameEnum.InformationFilled" />
                Danger
            </Button>
        </div>
        <div class="py-4 flex gap-4">
            <Button Outline>
                <Icon Name="IconNameEnum.InformationFilled" />
                Hello
            </Button>
            <Button Outline Color=@ColorEnum.Primary>
                <Icon Name="IconNameEnum.InformationFilled" />
                Primary
            </Button>
            <Button Outline Color=@ColorEnum.Secondary>
                <Icon Name="IconNameEnum.InformationFilled" />
                Secondary
            </Button>
            <Button Outline Color=@ColorEnum.Success>
                <Icon Name="IconNameEnum.InformationFilled" />
                Success
            </Button>
            <Button Outline Color=@ColorEnum.Info>
                <Icon Name="IconNameEnum.InformationFilled" />
                Info
            </Button>
            <Button Outline Color=@ColorEnum.Warning>
                <Icon Name="IconNameEnum.InformationFilled" />
                Warning
            </Button>
            <Button Outline Color=@ColorEnum.Danger>
                <Icon Name="IconNameEnum.InformationFilled" />
                Danger
            </Button>
        </div>
        <div class="py-4 flex gap-4">
            <Button Ghost>
                <Icon Name="IconNameEnum.InformationFilled" />
                Hello
            </Button>
            <Button Type="ButtonTypeEnum.Submit" Ghost Color=@ColorEnum.Primary>
                <Icon Name="IconNameEnum.InformationFilled" />
                Primary
            </Button>
            <Button Ghost Color=@ColorEnum.Secondary>
                <Icon Name="IconNameEnum.InformationFilled" />
                Secondary
            </Button>
            <Button Ghost Color=@ColorEnum.Success>
                <Icon Name="IconNameEnum.InformationFilled" />
                Success
            </Button>
            <Button Ghost Color=@ColorEnum.Info>
                <Icon Name="IconNameEnum.InformationFilled" />
                Info
            </Button>
            <Button Ghost Color=@ColorEnum.Warning>
                <Icon Name="IconNameEnum.InformationFilled" />
                Warning
            </Button>
            <Button Ghost Color=@ColorEnum.Danger>
                <Icon Name="IconNameEnum.InformationFilled" />
                Danger
            </Button>
        </div>
    </div>

    @* #endregion *@

    @* #region Checkbox *@
    <div class="py-8">
        <h2 class="font-bold text-2xl">Checkbox</h2>
        <div class="py-4 flex flex-col gap-4">
            <Checkbox />
            <Checkbox Value />
            <Checkbox Value Disabled />
            <Checkbox Disabled />
        </div>
        <div class="py-4 flex flex-col gap-4">
            <div class="text-2xl mt-3">Checkbox Binding</div>
            <Checkbox @bind-Value=@Check1Value />
            <Checkbox @bind-Value=@Check1Value />
            @Check1Value
        </div>
        <div class="py-4 flex flex-col gap-4">
            <div class="text-2xl mt-3">Checkbox Binding 2</div>
            <Checkbox @bind-Value=@Check2Value />
            <Checkbox @bind-Value=@Check2Value />
            @Check2Value
        </div>
    </div>
    @* #endregion *@

    @* region Tables *@
    <div class="py-8">
        <h2 class="font-bold text-2xl">Tables</h2>
        <div class="py-4 flex flex-col gap-4">

            <Table>
                <TableHead>
                    <TableCell>Id</TableCell>
                    <TableCell>Title</TableCell>
                    <TableCell>Created At</TableCell>
                    <TableCell>Updated At</TableCell>
                    <TableCell>State</TableCell>
                    <TableCell></TableCell>
                </TableHead>
                <TableBody>
                    @foreach (var item in data)
                    {
                        <TableRow>
                            <TableCell>#@item.Id</TableCell>
                            <TableCell>@item.Title</TableCell>
                            <TableCell>@item.CreatedAt</TableCell>
                            <TableCell>@item.UpdatedAt</TableCell>
                            <TableCell>
                                <Badge Color="ColorEnum.Primary">
                                    @item.State
                                </Badge>
                            </TableCell>
                            <TableCell>
                                Button Group

                            </TableCell>
                        </TableRow>
                    }
                </TableBody>
                <TableFoot>
                    <TableCell>Total</TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                    <TableCell>5,233</TableCell>
                    <TableCell></TableCell>
                    <TableCell>12,200</TableCell>

                </TableFoot>
            </Table>
        </div>
    </div>
    @* #endregion *@
</div>

@code {

    private bool Check1Value { get; set; } = true;
    private bool Check2Value { get; set; } = false;

    public class Item
    {
        public string Id;
        public string Title;
        public string CreatedAt;
        public string UpdatedAt;
        public string State;
    }

    private List<Item> data = new List<Item> {
new Item {
Id= "1",
Title = "Apple iMac 28\"",
CreatedAt = "Tuesday, December 12, 2023 at 7:35 PM",
UpdatedAt = "Tuesday, December 12, 2023 at 7:35 PM",
State = "Desktop PC"
},
new Item {
Id= "2",
Title = "Apple iMac 29\"",
CreatedAt = "Tuesday, December 13, 2023 at 7:35 PM",
UpdatedAt = "Tuesday, December 13, 2023 at 7:35 PM",
State = "Desktop PC"
},
new Item {
Id= "3",
Title = "Apple iMac 27\"",
CreatedAt = "Tuesday, December 14, 2023 at 7:35 PM",
UpdatedAt = "Tuesday, December 15, 2023 at 7:35 PM",
State = "Desktop PC"
},
};
}