@typeparam TItem

@typeparam TValue

@inherits BaseInputBlock<TValue>

@namespace FluentCMS.Web.UI.Components

@if (Visible)
{
    <FormField Cols="Cols" Dense="@Dense" Id="@Id" Hint="@Hint" Label="@Label" LabelFragment="@LabelFragment" Required="@Required">
        <select @attributes="AdditionalAttributes" class="@this.GetClasses()" disabled="@Disabled" id="@Id"
                name="@NameAttributeValue" @bind="@CurrentValueAsString">
            @if (!string.IsNullOrEmpty(Placeholder))
            {
                <option disabled selected value="null">@Placeholder</option>
            }
            @if (ChildContent == null)
            {
                if (Data != null && Data.Any())
                {
                    @foreach (var item in Data)
                    {
                        <option selected="@IsSelected(item)" value="@GetValue(item)">@GetText(item)</option>
                    }
                }
            }
            else
            {
                @ChildContent
            }
        </select>
    </FormField>
}
