@inherits BaseComponent
@typeparam TItem
@attribute [CascadingTypeParameter(nameof(TItem))]

@namespace FluentCMS.Web.UI.Components

@if (Visible)
{
    <div class="@this.ClassName("DataTableWrapper")">
        @if(Items != null && Items.Count > 0)
        {
            <table class="@this.GetClasses()" @attributes="AdditionalAttributes">
                <thead class="@this.ClassName("DataTableHead")">
                    <tr class="@this.ClassName("DataTableRow")">
                        <CascadingValue Value="true" Name="DataTableColumnHeader" IsFixed="true">
                            @if (ColumnsFragment != null)
                            {
                                @ColumnsFragment
                            }
                            else
                            {
                                @ChildContent
                            }
                        </CascadingValue>
                    </tr>
                </thead>
                <tbody class="@this.ClassName("DataTableBody")">
                    @foreach (var item in Items)
                    {
                        <tr class="@this.ClassName("DataTableRow")" @key="item">
                            <CascadingValue Value="@item" IsFixed="true">
                                <CascadingValue Value="false" Name="DataTableColumnHeader">
                                    @if (ColumnsFragment != null)
                                    {
                                        @ColumnsFragment
                                    }
                                    else
                                    {
                                        @ChildContent
                                    }
                                </CascadingValue>
                            </CascadingValue>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else if(EmptyStateFragment != null)
        {
            @EmptyStateFragment
        }
    </div>
}
