@page "/admin/users/create"
@page "/admin/users/update/{Id:guid}"
@inject HttpClient _httpClient
@inject NavigationManager _navigationManager
@inject ILogger<UserEdit> _logger

<h3>@(Id.HasValue ? "Update" : "Create") User</h3>

<EditForm Model="data" OnValidSubmit="ValidSubmit">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <InputText type="text" class="form-control" required @bind-Value="data.Email" name="name" />
    </div>
    <div class="mb-3">
        <label class="form-label">Username</label>
        <InputText type="text" class="form-control" required @bind-Value="data.Username" name="username" />
    </div>
    <div class="mb-3">
        <label class="form-label">Password @(Id.HasValue ? "(leave empty to ignore change password)" : "")</label>
        <InputText type="password" class="form-control" name="password"
                   @attributes="addRequiredAttribute(Id == null)"
                   @bind-Value="data.Password" />
    </div>
    <FormField Label="Roles:">
        @if (roles == null)
        {
            <span>Loading user roles...</span>
        }
        else
        {
            foreach (var r in roles)
            {
                <div class="form-check">
                    <input class="form-check-input"
                           type="checkbox"
                           id="@("chkRole-" + r.Name)"
                           @onchange="e => onRoleCheckboxChanged((bool)e.Value!, r.Id)"
                           @attributes="addCheckedAttribute(data.RoleIds.Any(x => x == r.Id))">
                    <label class="form-check-label" for="@("chkRole-" + r.Name)">
                        @r.Name <span class="fw-light">(@r.Description)</span>
                    </label>
                </div>
            }
        }
    </FormField>

    <Button Type="submit" Color="primary">Save</Button>
    @if (errors.Any())
    {
        <p>Errors:</p>
        <ul class="">
            @foreach (var errorMessage in errors)
            {
                <li>@errorMessage</li>
            }
        </ul>
    }
</EditForm>

@code {
    [Parameter]
    public Guid? Id { get; set; }

    private IEnumerable<RoleDto>? roles;
    private UserCreateRequest data = new();
    private List<string> errors = new();

    protected override async Task OnInitializedAsync()
    {
        var getRolesResponse = await _httpClient.GetFromJsonAsync<ApiPagingResult<RoleDto>>("roles/getAll");
        if (getRolesResponse != null)
        {
            roles = getRolesResponse!.Data;
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();

        if (Id.HasValue)
        {
            try
            {
                var response = await _httpClient.GetFromJsonAsync<ApiResult<UserDto>>($"users/getById/{Id.Value}");
                if (response != null)
                {
                    data.Email = response.Data!.Email;
                    data.Username = response.Data!.Username;
                    data.RoleIds = response.Data.RoleIds.ToList();
                }
            }
            catch (Exception)
            {
                throw;
            }
        }
    }

    public async Task ValidSubmit()
    {
        try
        {
            errors.Clear();
            HttpResponseMessage? response;
            if (Id.HasValue == false)
            {
                //Create
                response = await _httpClient.PostAsJsonAsync("users/create", data);
            }
            else
            {
                //Edit
                response = await _httpClient.PutAsJsonAsync("users/update",
                    new Api.Models.UserUpdateRequest
                        {
                            Id = Id.Value,
                            Email = data.Email,
                            RoleIds = data.RoleIds,
                        });
            }
            await handleCreateOrEditResponse(response);
        }
        catch (Exception ex)
        {
            _logger.LogError(ex, "error in create or edit user page");
            errors.Add("Unknown error");
        }
    }

    private async Task handleCreateOrEditResponse(HttpResponseMessage response)
    {
        if (response.IsSuccessStatusCode)
        {
            _navigationManager.NavigateTo("/admin/users");
        }
        else
        {
            var result = await response.Content.ReadFromJsonAsync<ApiResult>();
            if (result != null)
            {
                errors = result.Errors.Select(x => x.Description).ToList();
            }
            else
            {
                errors.Add("Unknown error");
            }
        }
    }

    private Dictionary<string, object> addRequiredAttribute(bool isRequired) =>
        new Dictionary<string, object>() { ["required"] = isRequired };

    private Dictionary<string, object> addCheckedAttribute(bool isChecked) =>
        new Dictionary<string, object>() { ["checked"] = isChecked };

    private void onRoleCheckboxChanged(bool isChecked, Guid roleId)
    {
        if (isChecked)
        {
            if (data.RoleIds.Any(x => x == roleId) == false)
                data.RoleIds.Add(roleId);
        }
        else
        {
            data.RoleIds.Remove(roleId);
        }
    }
}
