@inherits BasePlugin

<PluginBody Title="Users List">             
    <ActionsFragment>
        <Button Color="Color.Success" Href="@GetUrl("Create User")">
            <Icon Name="IconName.Plus" />
            Add User
        </Button>
    </ActionsFragment>
    <ChildContent>
        <Table Hoverable>
            <TableHead>
                <TableRow>
                    <TableCell Head>Username</TableCell>
                    <TableCell Head>Email</TableCell>
                    <TableCell Head>Full Name</TableCell>
                    <TableCell Head>Phone Number</TableCell>
                    <TableCell Head>Enabled</TableCell>
                </TableRow>
            </TableHead>
            <TableBody>
                @foreach (var user in Users)
                {
                    <TableRow>
                        <TableCell>@user.Username</TableCell>
                        <TableCell>@user.Email</TableCell>
                        <TableCell>@user.FirstName @user.LastName</TableCell>
                        <TableCell>@user.PhoneNumber</TableCell>
                        <TableCell>
                            @if (user.Enabled)
                            {
                                <Badge Color="Color.Success">
                                    Enabled
                                </Badge>
                            }
                            else
                            {
                                <Badge Color="Color.Danger">
                                    Enabled
                                </Badge>
                            }
                        </TableCell>
                        <TableCell>
                            <Button Color="Color.Primary" Href="@GetUrl("Update User", new { id = user.Id })" Outline StopPropagation>
                                <Icon Name="IconName.Edit" />
                                Edit
                            </Button>
                        </TableCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    </ChildContent>
</PluginBody>
