@inherits BasePlugin
<div>
    @(UserDetail?.User.Identity.Name)
</div>
<PluginView Title="Users List">
    <ButtonGroup>
        <Button autofocus="true" Color="Color.Primary" Href="@GetUrl("Create User")" Size="ButtonSize.Small">
            <Icon Name="IconName.Plus" />
            Add User
        </Button>
    </ButtonGroup>
    <Table>
        <TableHead>
            <TableCell>FirstName</TableCell>
            <TableCell>LastName</TableCell>
            <TableCell>Username</TableCell>
            <TableCell>Email</TableCell>
            <TableCell>Phone</TableCell>
            <TableCell Width="TableColumnWidth.Small"></TableCell>
        </TableHead>
        <TableBody>
            @foreach (var user in Users)
            {
                <TableRow>
                    <TableCell>@user.FirstName</TableCell>
                    <TableCell>@user.LastName</TableCell>
                    <TableCell>@user.Username</TableCell>
                    <TableCell>@user.Email</TableCell>
                    <TableCell>@user.PhoneNumber</TableCell>
                    <TableCell>
                        <ButtonGroup>
                            <Button Ghost="true" Href="@GetUrl("User Detail", new { id = user.Id })" Size="ButtonSize.Small">
                                <Icon Name="IconName.Eye" />
                            </Button>
                            <Tooltip Placement="TooltipPlacement.Top">Preview</Tooltip>

                            <Button data-test="edit-btn" Ghost="true" Href="@GetUrl("Update User", new { id = user.Id })" Size="ButtonSize.Small">
                                <Icon Name="IconName.Edit" />
                            </Button>
                            <Tooltip Placement="TooltipPlacement.Top">Edit</Tooltip>
                        </ButtonGroup>
                    </TableCell>
                </TableRow>
            }
        </TableBody>
    </Table>
</PluginView>

