@inherits BasePlugin

<PluginBody Title="Users List">
    <ActionsFragment>
        <Button Color="Color.Primary" Href="@GetUrl("Create User")">
            <Icon Name="IconName.Plus" />
            Add user
        </Button>
    </ActionsFragment>
    <ChildContent>
        <Table Hoverable>
            <TableHead>
                <TableRow>
                    <TableCell>Username</TableCell>
                    <TableCell>Email</TableCell>
                    <TableCell>Name</TableCell>
                    <TableCell>Enabled</TableCell>
                    <TableCell>Actions</TableCell>
                </TableRow>
            </TableHead>
            <TableBody>
                @foreach (var user in Users)
                {
                    <TableRow @onclick="() => OnRowDefaultAction(user.Id)">
                        <TableCell>@user.Username</TableCell>
                        <TableCell>@user.Email</TableCell>
                        <TableCell>@user.FirstName @user.LastName</TableCell>
                        <TableCell>
                            @if (user.Enabled)
                            {
                                <Badge Color="Color.Success">
                                    Enabled
                                </Badge>
                            }
                            else
                            {
                                <Badge Color="Color.Danger">
                                    Enabled
                                </Badge>
                            }
                        </TableCell>
                        <TableCell>
                            <Button Color="Color.Primary" Href="@GetUrl("User Detail", new { id = user.Id })" StopPropagation>
                                <Icon Name="IconName.Eye" />
                                Details
                            </Button>
                            <Button Color="Color.Primary" Href="@GetUrl("Update User", new { id = user.Id })" StopPropagation Outline>
                                <Icon Name="IconName.Edit" />
                                Edit
                            </Button>
                        </TableCell>
                    </TableRow>
                }
            </TableBody>
        </Table>
    </ChildContent>
</PluginBody>
