@inherits BasePlugin

<PluginBody Title="Users List">
    <ActionsFragment>
        <Button Href="@GetUrl("Create User")" Color="Color.Primary">
            <Icon Name="IconName.Plus" />Add User
        </Button>
    </ActionsFragment>
    <ChildContent>
        <DataTable Items="Users">
            <DataTableItem Label="UserName">@context.Username</DataTableItem>
            <DataTableItem Label="Email">@context.Email</DataTableItem>
            <DataTableItem Label="Full Name">@context.FirstName @context.LastName</DataTableItem>
            <DataTableItem Label="Phone">@context.PhoneNumber</DataTableItem>
            <DataTableItem>
                <Badge Color="Color.Success" Visible="@context.Enabled">Enable</Badge>
                <Badge Color="Color.Danger" Visible="@(!context.Enabled)">Disable</Badge>
            </DataTableItem>
            <DataTableItem Label="Last Login">@context.LastLoginAt</DataTableItem>
            <DataTableItem>
                <Button Color="Color.Primary" Href="@GetUrl("Update User", new { id = @context.Id })" Outline>
                    <Icon Name="IconName.Edit" />Edit
                </Button>
            </DataTableItem>
        </DataTable>
    </ChildContent>
</PluginBody>
