@inherits BasePlugin
@rendermode InteractiveServer

@namespace FluentCMS.Web.UI.Plugins

<PluginBody Title="Sites List">
    <ActionsFragment>
        <Button Href="@GetUrl("Create Site")" Color="Color.Primary">
            <Icon Name="IconName.Plus" />Add Site
        </Button>
    </ActionsFragment>
    <ChildContent>
        <DataTable Items="Sites">
            <DataTableItem Label="Name">@context.Name</DataTableItem>
            <DataTableItem Label="Description">@context.Description</DataTableItem>
            <DataTableItem Label="Url">
                @if (context.Urls != null)
                {
                    <div class="flex gap-1">
                        @foreach (var url in context.Urls)
                        {
                            <Badge Color="Color.Primary">@url</Badge>
                        }
                    </div>
                }
            </DataTableItem>
            <DataTableItem Label="Layout">
                @Layouts.Find(x => x.Id == context.LayoutId)?.Name
            </DataTableItem>
            <DataTableItem>
                <div class="flex gap-2">
                    <Button Size="@ButtonSize.Small" Color="Color.Primary" Href="@GetUrl("Update Site", new { id = @context.Id })">
                        <Icon Name="IconName.Edit" />Edit
                    </Button>
                    <Button Size="@ButtonSize.Small" Color="Color.Danger" Outline @onclick="() => OnConfirm(context)">
                        <Icon Name="IconName.Delete" />Delete
                    </Button>
                </div>
            </DataTableItem>
        </DataTable>
    </ChildContent>
</PluginBody>

<Confirm OnConfirm="OnDelete" OnCancel="OnConfirmClose" Visible="SelectedSite != null">
    Are you sure to delete site @SelectedSite!.Name?
</Confirm>
