@inherits BasePlugin

<PluginBody Title="Content Types">
    <ActionsFragment>
        <Button Href="@GetUrl("Create ContentType")" Color="Color.Primary">
            <Icon Name="IconName.Plus" />New Type
        </Button>
    </ActionsFragment>
    <ChildContent>
        <DataTable Items="ContentTypes">
            <DataTableItem Label="Slug">
                @context.Slug
            </DataTableItem>
            <DataTableItem Label="Title">
                @context.Title
            </DataTableItem>
            <DataTableItem Label="Description">
                @context.Description
            </DataTableItem>
            <DataTableItem Label="Fields">
                @(context.Fields?.Count ?? 0)
            </DataTableItem>
            <DataTableItem>
                <Stack>
                    <Button Color="Color.Primary" Href="@GetUrl("Update ContentType", new { id = @context.Id })" Size="ButtonSize.Small">
                        <Icon Name="IconName.Edit" />Edit
                    </Button>
                    <Button Color="Color.Danger" Href="@GetUrl("View ContentType", new { id = @context.Id })" Size="ButtonSize.Small">
                        <Icon Name="IconName.Eye" />Fields
                    </Button>
                </Stack>
            </DataTableItem>
        </DataTable>
    </ChildContent>
</PluginBody>
