@inherits BasePlugin
@rendermode InteractiveServer

<PluginBody Title="@($"File Management ({Folder?.Name ?? "..."})")">
    <ActionsFragment>
        <ActionButtonBack Visible="Folder?.ParentId != null" Href="@GetUrl("Files List", new { folderId = Folder?.ParentId })" />
        <ActionButton IconName="IconName.Plus" @onclick="() => FolderCreateModalOpen = true" Label="Add Folder" />
        <ActionButtonCreate @onclick="() => FileUploadModalOpen = true" Label="Upload File" />
    </ActionsFragment>
    <ChildContent>
        <FilesTable @ref="FilesTable" @bind-FolderId="@FolderId" @bind-Folder="@Folder">
            <ActionsFragment>
                <ActionButton Visible="!context.IsFolder" IconName="IconName.Download" Label="Download" download="@context.Name" Href="@GetUrl("Files List", new { folderId = context.Id })" Color="Color.Primary" target="_blank" />
                <ActionButtonOpen Visible="context.IsFolder" Href="@GetUrl("Files List", new { folderId = context.Id })" />

                @if (!context.IsParentFolder)
                {
                    <ActionButton IconName="IconName.Edit" Label="Rename" Color="Color.Primary" @onclick="() => OpenRenameModal(context)" />
                    <ActionButton Label="Move" @onclick="() => OpenMoveModal(context)" IconName="IconName.FolderMove" />
                    <ActionButtonDelete @onclick="() => OnConfirm(context)" />
                }
            </ActionsFragment>
        </FilesTable>
    </ChildContent>
</PluginBody>

<Confirm OnConfirm="OnDelete" OnCancel="OnConfirmClose" Visible="SelectedItem != null">
    @if (SelectedItem!.IsFolder)
    {
        <span>Are you sure to delete <b>"@SelectedItem!.Name"</b> folder with all of it's files & folders?</span>
    }
    else
    {
        <span>Are you sure to delete <b>"@SelectedItem!.Name"</b> file?</span>
    }
</Confirm>

<FolderCreateModal FolderId="@FolderId" Visible="FolderCreateModalOpen" OnSubmit="OnCreateFolder" OnCancel="OnCreateFolderCancel"/>

<FileUploadModal Config="FileUploadConfig" Visible="FileUploadModalOpen" OnSubmit="OnUpload" OnCancel="OnUploadCancel"/>

@if (FolderRenameModalOpen && FolderRenameModel != null)
{
    <FolderRenameModal Model="FolderRenameModel" OnSubmit="OnRenameFolder" OnCancel="OnRenameFolderCancel"/>
}

@if (FileRenameModalOpen && FileRenameModel != null)
{
    <FileRenameModal RootFolder="RootFolder" Model="FileRenameModel" OnSubmit="OnRenameFile" OnCancel="OnRenameFileCancel"/>
}

@if (FolderMoveModalOpen && FolderMoveModel != null)
{
    <FolderSelectorModal DisabledFolder="FolderMoveModel" Model="FolderId" OnSubmit="OnFolderMove" OnCancel="OnMoveFolderCancel"/>
}
@if (FileMoveModalOpen && FileMoveModel != null)
{
    <FolderSelectorModal Model="FolderId" OnSubmit="OnFileMove" OnCancel="OnMoveFileCancel"/>
}
