<Page>
    <PageHeader HasBack="true"
                Title="App Detail">
    </PageHeader>
    <PageBody>
        <Grid Gutter="GridGutter.Large">
            <GridItem Small="GridItemColumn.Twelve"
                      Medium="GridItemColumn.Seven"
                      Large="GridItemColumn.Nine">
                <Grid Gutter="GridGutter.Large" JustifySmall="GridJustify.End">
                    <GridItem Small="GridItemColumn.Twelve">
                        <Typography><strong>Title:</strong></Typography>
                        <Typography>
                            @View.Title
                        </Typography>
                    </GridItem>
                    <GridItem Small="GridItemColumn.Twelve">
                        <Typography><strong>Slug:</strong></Typography>
                        <Typography>
                            @View.Slug
                        </Typography>
                    </GridItem>
                    <GridItem Small="GridItemColumn.Twelve">
                        <Typography><strong>Description:</strong></Typography>
                        <Typography>
                            @View.Description
                        </Typography>
                    </GridItem>
                    <GridItem Small="GridItemColumn.Twelve">
                        <ButtonGroup>
                            <Button Color="Color.Primary"
                                    Href="@($"?PluginDef=App Management&typeName=Update App&slug={View.Slug}")">
                                <Icon Name="IconName.Edit" />
                                Edit
                            </Button>
                        </ButtonGroup>
                    </GridItem>
                </Grid>
            </GridItem>
            <GridItem Small="GridItemColumn.Twelve"
                      Medium="GridItemColumn.Five"
                      Large="GridItemColumn.Three">
                <Card>
                    <CardBody>
                        @if(!string.IsNullOrEmpty(View.CreatedBy))
                        {
                            <Typography><strong>Created By</strong></Typography>
                            <Typography>@View.CreatedBy</Typography>
                            <Spacer />
                        }
                        @if(!string.IsNullOrEmpty(View.CreatedAt.ToString()))
                        {
                            <Typography><strong>Created At</strong></Typography>
                            <Typography>@View.CreatedAt</Typography>
                            <Spacer />
                        }
                        @if(!string.IsNullOrEmpty(View.ModifiedBy))
                        {
                            <Typography><strong>Modified By</strong></Typography>
                            <Typography>@View.ModifiedBy</Typography>
                            <Spacer />
                        }
                        @if(!string.IsNullOrEmpty(View.ModifiedAt.ToString()))
                        {
                            <Typography><strong>Modified At</strong></Typography>
                            <Typography>@View.ModifiedAt</Typography>
                        }
                    </CardBody>
                </Card>
            </GridItem>
        </Grid>
    </PageBody>
</Page>

@code {
    [Inject]
    NavigationManager NavigationManager { set; get; } = default!;

    [Inject]
    AppClient AppClient { get; set; } = default!;

    string? Message { get; set; }

    AppDetailResponse View { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        var appSlug = NavigationManager.GetSlugFromQuery();
        if (appSlug != null)
        {
            try
            {
                View = (await AppClient.GetBySlugAsync(appSlug)).Data;
            }
            catch (Exception)
            {
                Message = "An error occured!";
            }
        }
    }
}
