<Page>
    <PageHeader HasBack="false" Title="Apps List">
        <PageHeaderActions>
            <ButtonGroup>
                <Button autofocus="true" 
                        Color="Color.Primary" 
                        Href="?PluginDef=App Management&typeName=Create App" 
                        Id="appCreateButton"
                        Size="ButtonSize.Small">
                    <Icon Name="IconName.Plus" />
                    Add App
                </Button>
            </ButtonGroup>
        </PageHeaderActions>
    </PageHeader>
    <PageBody>
        <Card>
            <Table>
                <TableHead>
                    <TableCell>Title</TableCell>
                    <TableCell>Slug</TableCell>
                    <TableCell>Description</TableCell>
                    <TableCell Width="TableColumnWidth.Small"></TableCell>
                </TableHead>
                <TableBody>
                    @foreach (var app in Apps)
                    {
                        <TableRow>
                            <TableCell> @app.Title </TableCell>
                            <TableCell> @app.Slug </TableCell>
                            <TableCell> @app.Description </TableCell>
                            <TableCell>
                                <ButtonGroup>
                                    <Button Href="@($"?PluginDef=App Management&typeName=App Detail&appSlug={app.Slug}")"
                                        Ghost="true" Size="ButtonSize.Small">
                                        <Icon Name="IconName.Eye" />
                                    </Button>
                                    <Tooltip Placement="TooltipPlacement.Top">Preview</Tooltip>

                                    <Button Href="@($"?PluginDef=App Management&typeName=Update App&appSlug={app.Slug}")"
                                        Ghost="true" Size="ButtonSize.Small">
                                        <Icon Name="IconName.Edit" />
                                    </Button>
                                    <Tooltip Placement="TooltipPlacement.Top">Edit</Tooltip>

                                    <Button Ghost="true" Size="ButtonSize.Small" OnClick="@(evt => OnDelete(app))">

                                        <Icon Name="IconName.Delete" />
                                    </Button>
                                    <Tooltip Placement="TooltipPlacement.Top">Delete</Tooltip>

                                </ButtonGroup>
                            </TableCell>
                        </TableRow>
                    }

                </TableBody>
            </Table>

            @if (Apps.Count == 0)
            {
                <EmptyTable Message="No Apps Found!">
                    <Button autofocus="true"
                            Color="Color.Primary" 
                            Href="?PluginDef=App Management&typeName=Create App"
                            Id="appEmptyCreateButton" 
                            Size="ButtonSize.Small">
                        <Icon Name="IconName.Plus" />
                        Add App
                    </Button>
                </EmptyTable>
            }
        </Card>

    </PageBody>
</Page>

@code {
    [Inject]
    AppClient? AppClient { get; set; }

    [Inject]
    ConfirmService Confirm { get; set; }

    List<AppDetailResponse> Apps { get; set; } = [];

    async Task Load()
    {
        var response = await AppClient!.GetAllAsync();

        if (response?.Data == null) return;

        Apps = response.Data.ToList();
    }

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    private async Task OnDelete(AppDetailResponse app)
    {
        var result = await Confirm.Show("Are you sure to remove this app?");

        if (!result) return;

        await AppClient!.DeleteAsync(app.Id);

        await Load();
    }
}
