@* TODO *@
@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if (Visible)
{
    <div @attributes="AdditionalAttributes"
         class="@this.GetClasses()">
        @if (!IsInlineLabel && (!string.IsNullOrEmpty(Label) || LabelFragment != null))
        {
            <label for="@Id"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                @if (!string.IsNullOrEmpty(Label))
                {
                    @Label
                }
                else
                {
                    @LabelFragment
                }
                @(Field != null && Required ? "\u00A0*" : "")
            </label>
        }
        <div class="relative">
            @if (IconStart != null)
            {
                <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                    <Icon Name="IconStart.GetValueOrDefault()" />
                </div>
            }
            @if (IsInlineLabel)
            {
                @if (Appearance == FormFieldAppearance.Switch)
                {
                    <label class="relative inline-flex items-center cursor-pointer">
                        @ChildContent
                        <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">
                            @if (LabelFragment == null)
                            {
                                @Label
                            }
                            else
                            {
                                @LabelFragment
                            }
                            @(Field != null && Required ? "\u00A0*" : "")
                        </span>
                    </label>
                }
                else
                {
                    @ChildContent
                    @if (!string.IsNullOrEmpty(Label) || LabelFragment != null)
                    {
                        <label for="@Id"
                               class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                            @if (!string.IsNullOrEmpty(Label))
                            {
                                @Label
                            }
                            else
                            {
                                @LabelFragment
                            }
                            @(Field != null && Required ? "\u00A0*" : "")
                        </label>
                    }
                }
            }
            else
            {
                @ChildContent
            }
            @if (IconEnd != null)
            {
                <div class="absolute inset-y-0 end-0 flex items-center pe-3.5 pointer-events-none">
                    <Icon Name="IconEnd.GetValueOrDefault()" />
                </div>
            }
        </div>
        @if (Field != null && !Dense)
        {
            @if (string.IsNullOrEmpty(Errors.FirstOrDefault()))
            {
                <p class="mt-1 text-xs text-gray-500 dark:text-gray-400">
                    @(Hint ?? "\u00A0")
                </p>
            }
            else
            {
                <p class="mt-1 text-xs text-gray-500 dark:text-gray-400"
                   id="@(Id)Error">
                    @Errors.FirstOrDefault()
                </p>
            }
            <div class="mb-2"></div>
        }
    </div>
}
