@inherits BasePlugin

@namespace FluentCMS.Web.UI.Plugins

<PluginBody Title="Layouts List">
    <ActionsFragment>
        <Button Href="@GetUrl("Create Layout")" Color="Color.Primary">
            <Icon Name="IconName.Plus" />Add Layout
        </Button>
    </ActionsFragment>
    <ChildContent>
        <DataTable Items="Layouts">
            <DataTableItem Label="Name">@context.Name</DataTableItem>
            <DataTableItem Label="Created By">@(context.CreatedBy ?? string.Empty)</DataTableItem>
            <DataTableItem Label="Created At">@context.CreatedAt</DataTableItem>
            <DataTableItem Label="Modified By">@(context.ModifiedBy ?? string.Empty)</DataTableItem>
            <DataTableItem Label="Modified At">@context.ModifiedAt</DataTableItem>
            <DataTableItem>
                <Button Color="Color.Primary" Href="@GetUrl("Update Layout", new { id = @context.Id })" Outline>
                    <Icon Name="IconName.Edit" />Edit
                </Button>
            </DataTableItem>
        </DataTable>
    </ChildContent>
</PluginBody>
