@inherits BaseComponent
@namespace FluentCMS.Web.UI.Components

<div class="@this.GetClasses()" @ref="Element">
    <div class="@this.ClassName("InlineEditorContent")">
    </div>

    <div class="@this.ClassName("InlineEditorActions")">
        <span Class="@this.ClassName("InlineEditorActionMessage")">You have unsaved changes!</span>
        <button Class="@this.ClassName("InlineEditorActionCancel")">Cancel</button>
        <button Class="@this.ClassName("InlineEditorActionSave")" Color="Color.Primary">Save</button>
    </div>
</div>