@inherits BaseComponent
@namespace FluentCMS.Web.UI.Components

<div class="@this.GetClasses()" @ref="Element">
    <div class="@this.ClassName("InlineEditorContent")">
    </div>

    <div class="@this.ClassName("InlineEditorActions")">
        <Button Size="ButtonSize.Small" Class="@this.ClassName("InlineEditorActionCancel")">Cancel</Button>
        <Button Size="ButtonSize.Small" Class="@this.ClassName("InlineEditorActionSave")" Color="Color.Primary">Save</Button>
    </div>
</div>