@inherits BaseInputBlock<string?>

@namespace FluentCMS.Web.UI.Components

@if (Visible)
{
    <FormField Cols="Cols" Dense="@Dense" Id="@Id" Label="@Label" LabelFragment="@LabelFragment" Required="@Required">
        <div class="@this.GetClasses()">
            <textarea @attributes="AdditionalAttributes" @ref="element" placeholder="@Placeholder" readonly="@Readonly">
                @Value
            </textarea>
        </div>
    </FormField>
}
