@typeparam TItem

@typeparam TValue

@inherits FormElementCheckboxes<ICollection<TValue>>

@namespace FluentCMS.Web.UI.Plugins.Components

@if (Visible)
{
    <PluginFormField Cols="Cols">
        @if (!string.IsNullOrEmpty(Label))
        {
            <label for="@Id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                @Label
                @(Required ? "\u00A0*" : "")
            </label>
        }
        @if (ChildContent == null)
        {
            if (Data != null && Data.Any())
            {
                <div class="flex-wrap @(Vertical ? "" : "flex")">
                    @foreach (var item in Data)
                    {
                        <div class="mr-4 mb-2">
                            <input checked="@IsChecked(item)"
                                   class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                                   id="@GetValue(item)"
                                   name="@NameAttributeValue"
                                   type="checkbox"
                                   value="@GetValue(item)">
                            <label for="@GetValue(item)" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                @GetText(item)
                            </label>
                        </div>
                    }
                </div>
            }
        }
        else
        {
            @ChildContent
        }
        <div class="mb-5"></div>
    </PluginFormField>
}
