@inherits FormElementCheckboxes<bool>

@namespace FluentCMS.Web.UI.Plugins.Components

@if (Visible)
{
    <PluginFormField Cols="Cols" Id="@Id" Label="@Label" LabelFragment="@LabelFragment" Required="@Required">
        <div class="flex items-center">
            <input @attributes="AdditionalAttributes"
                   checked="@BindConverter.FormatValue(CurrentValue)"
                   class="@CssClass w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                   disabled="@Disabled"
                   id="@Id"
                   name="@NameAttributeValue"
                   type="checkbox"
                   value="@bool.TrueString"
                   @onchange="EventCallback.Factory.CreateBinder<bool>(this, __value => CurrentValue = __value, CurrentValue)" />
            @if (!string.IsNullOrEmpty(Text))
            {
                <label for="@Id" class="ms-2 text-sm text-gray-500 dark:text-gray-400">
                    @Text
                </label>
            }
        </div>
        @if (!Dense)
        {
            <div class="mb-5"></div>
        }
    </PluginFormField>
}
