@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    @* TODO: remove extra class *@
    <aside @attributes="AdditionalAttributes"
           class="@this.GetClasses() -translate-x-full lg:!translate-x-0" id="@Id">
        <div class="@this.ClassName("SidebarMain")">
            @if (!string.IsNullOrEmpty(Title))
            {
                <h4 class="@this.ClassName("SidebarTitle")">
                    @Title
                </h4>
            }
            @Header
            <ul>
                <li>
                    <ul>
                        @ChildContent
                    </ul>
                </li>
            </ul>
        </div>
        @if (Footer != null)
        {
            <div class="@this.ClassName("SidebarFooter")">
                @Footer
            </div>
        }
    </aside>

    @if(!Secondary)
    {
        <div class="@this.ClassName("SidebarBackdrop") hidden" id="@(Id + "Backdrop")"></div>
    }
}