@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if (Visible)
{
    <FormField Cols="Cols" Dense="@Dense" Id="@Id" Hint="@Hint" Label="@Label" LabelFragment="@LabelFragment" Required="@Required">
        <div @attributes="AdditionalAttributes" @ref="Element" class="@this.GetClasses()">
            <label class="@this.ClassName("FormFileUploadLabel")" for="@Id">
                <Icon Name="IconName.CloudArrowUp" Size="IconSize.X2" />
                <p class="@this.ClassName("FormFileUploadText")">
                    <span class="@this.ClassName("FormFileUploadTextBold")">
                        Click to upload
                    </span>
                    or drag and drop
                </p>
                <p class="@this.ClassName("FormFileUploadText")">
                    @ChildContent
                </p>
                <InputFile accept="@Accept" id="@Id" multiple="@Multiple" OnChange="HandleChange" />
            </label>
        </div>
    </FormField>
}
