<Sidebar Id="adminSidebar">
    <Header>
        <a href="/" class="items-center pl-2.5 mb-5 hidden lg:flex">
            <Logo id="adminSidebarLogoLink" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FluentCMS</span>
        </a>
    </Header>

    <ChildContent>
        <SidebarItem Active="@(Pathname == "/")"
                     Href="/" id="adminSidebarHomeLink"
                     Icon="IconName.Home">
            Home
        </SidebarItem>
        <ul class="space-y-2 border-t border-gray-200 dark:border-gray-700"></ul>
        <SidebarItem Active="@(Pathname == "/admin/content")"
                     Href="/admin/content"
                     Icon="IconName.PenNib"
                     id="adminSidebarContentManagementLink">
            Content Management
        </SidebarItem>
        <ul class="space-y-2 border-t border-gray-200 dark:border-gray-700"></ul>
        <SidebarItem Active="@Pathname.StartsWith("/admin/content-types")"
                     Href="/admin/content-types" 
                     Icon="IconName.TableColumn"
                     id="adminSidebarContentTypeLink">
            Content-Type Builder
        </SidebarItem>
        <SidebarItem Active="@Pathname.StartsWith("/admin/file-management")"
                     fluentcms 
                     Href="/admin/file-management" 
                     Icon="IconName.ClapperboardPlay"
                     id="adminFileManagementLink">
            File Management
        </SidebarItem>
        <SidebarItem Active="@Pathname.StartsWith("/admin/settings")"
                     Href="/admin/settings" 
                     Icon="IconName.Cog"
                     id="adminSidebarSettingsLink">
        <!-- TODO: Use Icon prop -->
        <SidebarItem Href="/admin/users" id="adminSidebarUsersLink">
            <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z" clip-rule="evenodd" />
            </svg>    
            Users
        </SidebarItem>
        <SidebarItem Href="/admin/roles" id="adminSidebarRolesLink">
            <svg class="flex-shrink-0 w-6 h-6 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z" />
            </svg>   
            Roles
        </SidebarItem>
        
        <ul class="space-y-2 border-t border-gray-200 dark:border-gray-700"></ul>
        <SidebarItem Href="/api/doc/index.html"
                     id="adminSidebarDocsLink"
                     Icon="IconName.ClipboardList"
                     Target="_blank">
            
            Docs
        </SidebarItem>
    </ChildContent>
    <Footer>
        <ThemeSwitcher id="adminThemeButton" />
        <UserInfoViewPlugin />
    </Footer>
</Sidebar>

@code {
    string Pathname {get; set;} = null;
    
    [Inject]
    NavigationManager NavigationManager {get; set;} = default!;

    protected override void OnInitialized() 
    {
        var uri = new Uri(NavigationManager.Uri);
        Pathname = uri.AbsolutePath;
    }
}
