<Sidebar Id="adminSidebar">
    <Header>
        <a href="/" class="items-center pl-2 mb-5 hidden lg:flex">
            <Logo id="adminSidebarLogoLink" />
            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">FluentCMS</span>
        </a>
    </Header>

    <ChildContent>
        <SidebarItem Active="@(Pathname == "/")"
                     Href="/" id="adminSidebarHomeLink"
                     Icon="IconName.Home">
            Home
        </SidebarItem>
        <ul class="space-y-2 border-t border-gray-200 dark:border-gray-700"></ul>
        <SidebarItem Active="@(Pathname == "/admin/content")"
                     Href="/admin/content"
                     Icon="IconName.PenNib"
                     id="adminSidebarContentManagementLink">
            Content Management
        </SidebarItem>
        <ul class="space-y-2 border-t border-gray-200 dark:border-gray-700"></ul>
        <SidebarItem Active="@Pathname.StartsWith("/admin/content-types")"
                     Href="/admin/content-types" 
                     Icon="IconName.TableColumn"
                     id="adminSidebarContentTypeLink">
            Content-Type Builder
        </SidebarItem>
        <SidebarItem Active="@Pathname.StartsWith("/admin/file-management")"
                     fluentcms 
                     Href="/admin/file-management" 
                     Icon="IconName.ClapperboardPlay"
                     id="adminFileManagementLink">
            File Management
        </SidebarItem>
        <!-- TODO: Use Icon prop -->
        <SidebarItem Active="@Pathname.StartsWith("/admin/users")"
                     Href="/admin/users" 
                     Icon="IconName.Users"
                     id="adminSidebarUsersLink">
            Users
        </SidebarItem>
        <SidebarItem Active="@Pathname.StartsWith("/admin/roles")"
                     Href="/admin/roles" 
                     Icon="IconName.Roles"
                     id="adminSidebarRolesLink">   
            Roles
        </SidebarItem>
        <SidebarItem Active="@Pathname.StartsWith("/admin/api-tokens")"
                     Href="/admin/api-tokens" 
                     Icon="IconName.Lock"
                     id="adminSidebarApiTokensLink">
            Api Tokens
        </SidebarItem>
        <SidebarItem Active="@Pathname.StartsWith("/admin/settings")"
                     Href="/admin/settings" 
                     Icon="IconName.Cog"
                     id="adminSidebarSettingsLink">
            Settings
        </SidebarItem>
        <ul class="space-y-2 border-t border-gray-200 dark:border-gray-700"></ul>
        <SidebarItem Href="/api/doc/index.html"
                     id="adminSidebarDocsLink"
                     Icon="IconName.ClipboardList"
                     Target="_blank">
            
            Docs
        </SidebarItem>
    </ChildContent>
    <Footer>
        <ThemeSwitcher id="adminThemeButton" />
        <UserInfoViewPlugin />
    </Footer>
</Sidebar>

@code {
    string Pathname {get; set;} = null;
    
    [Inject]
    NavigationManager NavigationManager {get; set;} = default!;

    protected override void OnInitialized() 
    {
        var uri = new Uri(NavigationManager.Uri);
        Pathname = uri.AbsolutePath;
    }
}
