@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if (Visible)
{
    <div @attributes="AdditionalAttributes" class="@this.GetClasses()" tabindex="-1" data-modal-backdrop="static" aria-hidden="true">
        <div class="@this.ClassName("ConfirmWrapper")">
            <div class="@this.ClassName("ConfirmContent")">
                <CloseButton @onclick="CancelClicked" />
                <div class="@this.ClassName("ConfirmBody")">
                    <Icon Name="IconName.ExclamationCircle" Size="IconSize.Large" />
                    <h3 class="@this.ClassName("ConfirmMessage")">
                        @ChildContent
                    </h3>
                    <ButtonGroup>
                        <Button Color="Color.Danger" @onclick="ConfirmClicked">
                            Yes, I'm sure
                        </Button>
                        <Button @onclick="CancelClicked">
                            No, cancel
                        </Button>
                    </ButtonGroup>
                </div>
            </div>
        </div>
    </div>
}
