@inherits BasePlugin

<PluginBody Title="Content Types List">
    <ActionsFragment>
        <Button Href="@GetUrl("Create ContentType")" Color="Color.Primary">
            <Icon Name="IconName.Plus" />Add New Content Type
        </Button>
    </ActionsFragment>
    <ChildContent>
        <DataTable Items="ContentTypes">
            <DataTableItem Label="Slug">
                @context.Slug
            </DataTableItem>
            <DataTableItem Label="Title">
                @context.Title
            </DataTableItem>
            <DataTableItem Label="Description">
                @context.Description
            </DataTableItem>
            <DataTableItem>
                <Button Color="Color.Primary" Href="@GetUrl("Update ContentType", new { id = @context.Id })" Outline>
                    <Icon Name="IconName.Edit" />Edit
                </Button>
            </DataTableItem>
        </DataTable>
    </ChildContent>
</PluginBody>
