<Page>
    <PageHeader HasBack="false" Title="Content Types List">
        <PageHeaderActions>
            <ButtonGroup>
                <Select @bind-Value="AppSlug" 
                        Dense="true" 
                        Id="contentTypeAppSelect" 
                        Placeholder="Choose an App..."
                        Size="InputSize.Small"
                        OnChange="OnAppSlugChanged">
                    @foreach (var app in Apps)
                    {
                        <Option Value="@app.Slug">@app.Title</Option>
                    }
                </Select>
                @if (!string.IsNullOrEmpty(AppSlug))
                {
                    <Button Color="Color.Primary"
                        Href="@($"?PluginDef=ContentType Management&typeName=Create ContentType&appSlug={AppSlug}")"
                        id="contentTypeCreateButton" Size="ButtonSize.Small">
                        <Icon Name="IconName.Plus" />
                        Add Content Type
                    </Button>
                }
            </ButtonGroup>
        </PageHeaderActions>
    </PageHeader>
    <PageBody>
        <Card>

            <Table>
                <TableHead>
                    <TableCell>Slug</TableCell>
                    <TableCell>Title</TableCell>
                    <TableCell>Description</TableCell>
                    <TableCell Width="TableColumnWidth.Small"></TableCell>
                </TableHead>
                <TableBody id="contentTypeListTable">
                    @foreach (var contentType in ContentTypes)
                    {
                        <TableRow>
                            <TableCell>
                                @contentType.Slug
                            </TableCell>
                            <TableCell>
                                @contentType.Title
                            </TableCell>
                            <TableCell>
                                @contentType.Description
                            </TableCell>
                            <TableCell>
                                <ButtonGroup>
                                    <Button Ghost="true"
                                        Href="@($"?PluginDef=ContentType Management&typeName=ContentType Detail&id={contentType.Id}&appSlug={AppSlug}")"
                                        Size="ButtonSize.Small">
                                        <Icon Name="IconName.Eye" />
                                    </Button>
                                    <Tooltip Placement="TooltipPlacement.Top">Preview</Tooltip>

                                    <Button Ghost="true"
                                        Href="@($"?PluginDef=ContentType Management&typeName=Update ContentType&id={contentType.Id}&appSlug={AppSlug}")"
                                        Size="ButtonSize.Small">
                                        <Icon Name="IconName.Edit" />
                                    </Button>
                                    <Tooltip Placement="TooltipPlacement.Top">Edit</Tooltip>

                                    <Button Ghost="true" Size="ButtonSize.Small" OnClick="@(evt => OnDelete(contentType))">
                                        <Icon Name="IconName.Delete" />
                                    </Button>
                                    <Tooltip Placement="TooltipPlacement.Top">Delete</Tooltip>
                                </ButtonGroup>
                            </TableCell>
                        </TableRow>
                    }
                </TableBody>
            </Table>
            @if (ContentTypes.Count == 0)
            {
                <EmptyTable Message="No Content Types Found!">
                    @if(!String.IsNullOrEmpty(AppSlug))
                    {
                        <Button Color="Color.Primary"
                        Href="@($"?PluginDef=ContentType Management&typeName=Create ContentType&appSlug={AppSlug}")"
                        id="contentTypeCreateButton" Size="ButtonSize.Small">
                        <Icon Name="IconName.Plus" />
                        Add Content Type
                    </Button>
                    } else {
                        <Button Color="Color.Primary" Href="?PluginDef=App Management&typeName=Create App"
                                Id="appEmptyCreateButton" Size="ButtonSize.Small">
                                <Icon Name="IconName.Plus" />
                                First Add an App
                        </Button>
                    }
                </EmptyTable>
            }
        </Card>

    </PageBody>
</Page>

@code {
    [Inject]
    AppClient AppClient { get; set; } = default!;

    [Inject]
    ConfirmService Confirm { get; set; } = default!;

    [Inject]
    ContentTypeClient ContentTypeClient { get; set; } = default!;

    [CascadingParameter]
    public System.Net.Http.HttpContent? HttpContext { get; set; }

    [Inject]
    ILocalStorageService LocalStorageService { get; set; } = default!;

    [Inject]
    NavigationManager NavigationManager { get; set; } = default!;

    string? AppSlug { get; set; }

    List<AppDetailResponse> Apps { get; set; } = [];

    List<ContentTypeDetailResponse> ContentTypes { get; set; } = [];

    async Task Load()
    {
        var response = await ContentTypeClient.GetAllAsync(AppSlug);

        if (response?.Data == null) return;

        ContentTypes = response.Data.ToList();
    }

    async Task OnAppSlugChanged()
    {
        await LocalStorageService.SetItemAsStringAsync("APP_SLUG", AppSlug);

        await Load();
    }

    async Task OnDelete(ContentTypeDetailResponse contentType)
    {
        var result = await Confirm.Show("Are you sure you want to remove this contentType?");

        if (!result) return;

        await ContentTypeClient.DeleteAsync(AppSlug, contentType.Id);

        await Load();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        AppSlug = NavigationManager.GetAppSlugFromQuery();

        if (!string.IsNullOrEmpty(AppSlug))
        {
            await Load();
        }

        var response = await AppClient!.GetAllAsync();

        if (response?.Data == null) return;

        Apps = response.Data.ToList();

        StateHasChanged();

        if (!string.IsNullOrEmpty(AppSlug)) return;

        if (Apps.Count() == 0) return;

        var slug = await LocalStorageService.GetItemAsStringAsync("APP_SLUG");

        AppSlug = Apps.Exists(x => x.Slug == slug) ? slug : Apps.First().Slug;

        StateHasChanged();

        await LocalStorageService.SetItemAsStringAsync("APP_SLUG", AppSlug);

        await Load();
    }
}
