@inherits BaseComponent

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <SectionContent SectionName="head">
        @if(!string.IsNullOrEmpty(Title))
        {
            <title>@Title</title>
        }
    </SectionContent>

    <nav @attributes="AdditionalAttributes"
        class="@this.GetClasses()">
        @if (HasBack)
        {
            <PageBackButton />
        }

        <div class="@this.ClassName("PageHeaderBody")">
            <h1 class="@this.ClassName("PageHeaderTitle")">
                @Title
            </h1>
            @if (PageHeaderActions != null)
            {
                <div class="@this.ClassName("PageHeaderActions")">
                    @PageHeaderActions
                </div>
            }
        </div>
     
        @if (PageHeaderActions != null || PageHeaderSubtitle != null || !string.IsNullOrEmpty(SubTitle))
        {
            <div class="@this.ClassName("PageHeaderSubtitle")">
                @if (PageHeaderSubtitle != null)
                {
                    @PageHeaderSubtitle
                }
                else
                {
                    @SubTitle
                }
            </div>
        }
    </nav>
}

