@inherits BasePlugin

<PluginBody Title="API Tokens List">
    <ActionsFragment>
        <Button Href="@GetUrl("Create Api Token")" Color="Color.Primary">
            <Icon Name="IconName.Plus" />Add New API Token
        </Button>
    </ActionsFragment>
    <ChildContent>
        <DataTable Items="ApiTokens">
            <DataTableItem Label="Name">@context.Name</DataTableItem>
            <DataTableItem Label="Description">@context.Description</DataTableItem>
            <DataTableItem>
                <Button Color="Color.Primary" Href="@GetUrl("Update Api Token", new { id = @context.Id })" Outline>
                    <Icon Name="IconName.Edit" />Edit
                </Button>
            </DataTableItem>
        </DataTable>
    </ChildContent>
</PluginBody>