@rendermode InteractiveServer

<div class="m-4">

    @if(CurrentState == BlogManagementState.List)
    {
        <Grid ItemsSmall="GridItems.Start" JustifySmall="GridJustify.Between">
            <GridItem>
                <Typography Size="TextSize.H5">Blogs</Typography>            
            </GridItem>
            <GridItem>
                <Stack>
                    <Button @onclick="NavigateBack">
                        Back
                    </Button>
                
                    <Button Color="Color.Primary" @onclick="OnAddItemClicked">
                        <Icon Name="IconName.Plus" />
                        Add Blog
                    </Button>
                </Stack>
            </GridItem>
        </Grid>
        <Spacer />
        
        @if (Items != null)
        {
            <div class="f-blogs">
                @foreach (var item in Items)
                {
                    <div class="f-blogs">
                        <div class="f-blog">
                            <h2 class="f-blog-title"><a href="@GetDetailUrl("Blog Detail", new { Id = item.Id })">@item.Title</a></h2>
                            <p class="f-blog-description">@item.Description</p>
                            <Stack>
                                <Button Color="Color.Danger" Outline @onclick="() => OnDeleteItemClicked(item)">delete</Button>
                                <Button Color="Color.Primary" Outline @onclick="() => OnEditItemClicked(item)">Edit</Button>
                            </Stack>
                        </div>

                    </div>
                }
            </div>
        }
    }
    else if (CurrentState == BlogManagementState.Create)
    {
        <Typography Size="TextSize.H5">Create Blog Content</Typography>            
        <Spacer />
        <Card>
            <CardBody>
                <BlogEditForm Model="@Model" FormName="@CONTENT_TYPE_NAME" OnSubmit="OnCreateBlog" OnCancel="NavigateBack"/>
            </CardBody>
        </Card>
    } 
    else if (CurrentState == BlogManagementState.Edit)
    {
        <Typography Size="TextSize.H5">Edit Blog Content</Typography>            
        <Spacer />
        <Card>
            <CardBody>
                <BlogEditForm Model="@Model" FormName="@CONTENT_TYPE_NAME" OnSubmit="OnEditBlog" OnCancel="NavigateBack"/>
            </CardBody>
        </Card>
    }
</div>

<Confirm OnConfirm="OnDeleteItem" OnCancel="OnConfirmClose" Visible="DeleteConfirmOpen">
    Are you sure to delete this content?
</Confirm>