@inherits BasePlugin

<PluginBody Title="Roles List">
    <ActionsFragment>
        <Button Href="@GetUrl("Create Role")" Color="Color.Primary">
            <Icon Name="IconName.Plus" />Add New Role
        </Button>
    </ActionsFragment>
    <ChildContent>
        <DataTable Items="Roles">
            <DataTableItem Label="Name">@context.Name</DataTableItem>
            <DataTableItem Label="Description">@context.Description</DataTableItem>
            <DataTableItem>
                <Button Color="Color.Primary" Href="@GetUrl("Update Role", new { id = @context.Id })" Outline>
                    <Icon Name="IconName.Edit" />Edit
                </Button>
                <DeleteButton Id="@context.Id" OnDelete="OnDelete" />
            </DataTableItem>
        </DataTable>
    </ChildContent>
</PluginBody>

