@inherits BasePlugin

<PluginBody Title="Role Detail">
    <Grid Gutter="GridGutter.Large">
        <GridItem Small="GridItemColumn.Twelve" Medium="GridItemColumn.Seven" Large="GridItemColumn.Nine">
            <Grid Gutter="GridGutter.Large" JustifySmall="GridJustify.End">
                <GridItem Small="GridItemColumn.Twelve">
                    <Typography>
                        <strong>Name:</strong>
                    </Typography>
                    <Typography>
                        @Role.Name
                    </Typography>
                </GridItem>
                <GridItem Small="GridItemColumn.Twelve">
                    <Typography>
                        <strong>Description:</strong>
                    </Typography>
                    <Typography>
                        @Role.Description
                    </Typography>
                </GridItem>
                <GridItem Small="GridItemColumn.Twelve">
                    <Typography>
                        <strong>Permissions:</strong>
                    </Typography>
                    <Grid>
                        <PluginFormPolicies Disabled="true" Policies="Policies" Value="Role.Policies?.ToList() ?? []" />
                    </Grid>
                </GridItem>
            </Grid>
        </GridItem>
        <GridItem Small="GridItemColumn.Twelve" Medium="GridItemColumn.Five" Large="GridItemColumn.Three">
            <Card>
                <CardBody>
                    @if (!string.IsNullOrEmpty(Role.CreatedBy))
                    {
                        <Typography>
                            <strong>Created By</strong>
                        </Typography>
                        <Typography>@Role.CreatedBy</Typography>
                        <Spacer/>
                    }
                    @if (!string.IsNullOrEmpty(Role.CreatedAt.ToString()))
                    {
                        <Typography>
                            <strong>Created At</strong>
                        </Typography>
                        <Typography>@Role.CreatedAt</Typography>
                        <Spacer/>
                    }
                    @if (!string.IsNullOrEmpty(Role.ModifiedBy))
                    {
                        <Typography>
                            <strong>Modified By</strong>
                        </Typography>
                        <Typography>@Role.ModifiedBy</Typography>
                        <Spacer/>
                    }
                    @if (!string.IsNullOrEmpty(Role.ModifiedAt.ToString()))
                    {
                        <Typography>
                            <strong>Modified At</strong>
                        </Typography>
                        <Typography>@Role.ModifiedAt</Typography>
                    }
                </CardBody>
            </Card>
            <Spacer/>
            @* TODO: Use @GetUrl("Update Role", new { id = Role.Id }) for Href, when issue #1304 resolved *@
            <Button Block="true" Color="Color.Primary"
                    Href="@NavigationManager.Plugin("Role Management", "Update Role", new { id = Role.Id })"
                    Item="true"
                    Outline="true">
                <Icon Name="IconName.Edit"/>
                Edit
            </Button>
        </GridItem>
    </Grid>
</PluginBody>