@namespace FluentCMS.Web.Plugins.Contents.Block
@rendermode InteractiveServer

<div class="m-4">
    <Typography Size="TextSize.H5">Edit Block settings</Typography>            
    <Spacer />
    <Card>
        <CardBody>
            @if (Settings != null)
            {
                <EditForm Model="@Settings" OnSubmit="OnSubmit" FormName="@PLUGIN_SETTINGS_FORM" Enhance>
                    <DataAnnotationsValidator />
                    <Spacer />
                    <Grid GutterX="GridGutter.Large">
                        @foreach (var input in Settings)
                        {
                            <FormTextarea Placeholder="@($"Enter {input.Key}")" @bind-Value="@input.Value" Label="@input.Key" />
                        }
                        <GridItem Small="GridItemColumn.Twelve">
                            <Stack>
                                <Button Color="Color.Primary" Type="ButtonType.Submit">
                                    Submit
                                </Button>
                                <Button data-enhance-nav="false" Href="@GetBackUrl()">
                                    Cancel
                                </Button>
                            </Stack>
                        </GridItem>
                    </Grid>
                </EditForm>
            }
        </CardBody>
    </Card>
</div>