@inherits BasePlugin
@namespace FluentCMS.Web.Plugins.Contents.Block

@if(Item != null)
{
    @if (ViewState.Page.HasContributorAccess)
    {
        <InlineEditor Value="@Item.Content" OnCancel="@OnCancel" OnSave="@UpdateContent" />
    }
    else
    {
        <div class="f-block">
            @((MarkupString)Item.Content)
        </div>
    }
}
else if (ViewState.Page.HasContributorAccess)
{
    <BlockEmptyView OnBlockSelected="@SaveBlockContent" />
}
