@inherits BaseInputBlock<string?>

@namespace FluentCMS.Web.UI.Components

@if (Visible)
{
    <FormField Cols="Cols" Dense="@Dense" Id="@Id" Hint="@Hint" Label="@Label" LabelFragment="@LabelFragment" Required="@Required">
        <div @attributes="AdditionalAttributes" placeholder="@Placeholder" class="@this.GetClasses()" @ref="element">
        </div>
    </FormField>
}
