@inherits BasePlugin
<PluginForm Model="@Model" OnSubmit="@OnSubmit" Name="@FORM_NAME">
    <InputText @bind-Value="Model.Username" Placeholder="Enter your name"/>
    <InputText @bind-Value="Model.Email" Placeholder="Enter your email"/>
    <InputText @bind-Value="Model.Password" Placeholder="Enter your password"/>
    <InputText @bind-Value="Model.ConfirmPassword"Placeholder="Enter your password again"/>
    <ButtonGroup>
        <Button Block="@true" Color="@Color.Primary" Type="@ButtonType.Submit"> Sign Up </Button>
        <Button Color="@Color.Primary" Href="/auth/login" Link="@true"> Login here </Button>
    </ButtonGroup>
</PluginForm>
