@inherits InputBaseComponent<string>

@if (IconName != IconNameEnum.Default)
{
    <div class=@this.ClassName("InputGroup")>
        <div class=@this.ClassName("InputIconWrapper")>
            <Icon Name="@IconName" />
        </div>
        <input 
            type="text" 
            id="@Id" 
            disabled=@Disabled 
            name=@Name 
            required=@Required 
            class=@this.GetClasses()
            placeholder="@Placeholder" 
            @bind=Value 
            @bind:event="oninput" 
            @attributes=AdditionalAttributes>
    </div>
}
else
{
    <input 
        type="text" 
        id="@Id" 
        disabled=@Disabled 
        name=@Name 
        required=@Required 
        class=@this.GetClasses()
        placeholder="@Placeholder" 
        @bind=Value 
        @bind:event="oninput" 
        @attributes=AdditionalAttributes>
}


@code {
    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string Placeholder { get; set; }

    [Parameter]
    public IconNameEnum IconName { get; set; }

    [CssProperty]
    public bool HasIcon => IconName != IconNameEnum.Default;

}
