@inherits InputBaseComponent<string>

<FormField Dense="Dense"
           Hint="Hint"
           IconStart="IconStart"
           Id="Id"
           Label="Label"
           Required="Required"
           State="State">
    <select @attributes="AdditionalAttributes"
            @bind="Value"
            class="@this.GetClasses()"
            disabled="@Disabled"
            id="@Id"
            multiple="@Multiple"
            name="@Name"
            required="@Required">
        @if (this.Placeholder != string.Empty)
        {
            <Option Selected>@Placeholder</Option>
        }
        @ChildContent
    </select>

</FormField>

@code {
    [Parameter]
    public bool Dense { get; set; }

    [Parameter]
    public string? Hint { get; set; }

    @* TODO: Add IconEnd *@

    [Parameter]
    public IconNameEnum IconStart { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public bool Multiple { get; set; }

    [Parameter]
    public string? Placeholder { get; set; }
}
