@inherits Button

@namespace FluentCMS.Web.UI.Components

@if(Visible)
{
    <Button @attributes="AdditionalAttributes"
            Color="@Color"
            Disabled="@Disabled"
            Ghost="@Ghost"
            Href="@Href"
            Loading="@Loading"
            Outline="@Outline"
            Size="@Size"
            Type="@Type">
        @ChildContent
        <Icon Name="IconName.AngleDown" />
    </Button>
}
