@inject IJSRuntime JS
@inherits BaseComponent

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    <select @ref="element"
            autocomplete="off"
            disabled="@Disabled"
            multiple="@Multiple">
        @foreach (var Option in Options)
        {
            <option @key="Option.Id"
                    selected="@Value.Contains(Option.Id)"
                    value="@Option.Id">
                @Option.Title
            </option>
        }
    </select>
</div>

@code {
    public ElementReference element;

    private IJSObjectReference module = default!;

    private bool disabled;

    [Parameter]
    public bool Disabled
    {
        get => disabled;
        set
        {
            this.disabled = value;

            module.InvokeVoidAsync("update", DotNetObjectReference.Create(this), element, new { Disabled });
        }
    }

    [Parameter]
    public bool Multiple { get; set; }

    private List<AutocompleteOptions> options = [];

    [Parameter]
    public List<AutocompleteOptions> Options
    {
        get => options;
        set
        {
            if (this.options.SequenceEqual(value)) return;

            this.options = value;

            module.InvokeVoidAsync("update", DotNetObjectReference.Create(this), element, new { Options });
        }
    }

    private List<string> value = [];

    [Parameter]
    public List<string> Value
    {
        get => this.value;
        set
        {
            if (this.value.SequenceEqual(value)) return;

            this.value = value;

            module.InvokeVoidAsync("update", DotNetObjectReference.Create(this), element, new { Value });

            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<List<string>> ValueChanged { get; set; }

    [JSInvokable]
    public void UpdateValue(List<string> Value)
    {
        this.Value = Value;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        module = await JS.InvokeAsync<IJSObjectReference>("import", "/_content/FluentCMS.Web.UI.Components/Components/Autocomplete/Autocomplete.razor.js");

        await module.InvokeVoidAsync("initialize", DotNetObjectReference.Create(this), element);
    }
}
