@rendermode RenderMode.InteractiveServer
@namespace FluentCMS.Web.UI

<div class="f-plugin-container" data-id="@Plugin.Id" data-order="@Plugin.Order" data-cols="@Plugin.Cols" data-cols-md="@Plugin.ColsMd" data-cols-lg="@Plugin.ColsLg">
    <PluginContainerActions Plugin="@Plugin" />
    
    <ErrorBoundary>
        <ChildContent>
            <div class="f-plugin-container-content">
                <DynamicComponent Type=@GetPluginType() Parameters=@Parameters />
            </div>
        </ChildContent>
        <ErrorContent>
            <div class="f-plugin-container-error">
                @context.Message
            </div>
        </ErrorContent>
    </ErrorBoundary>
</div>
