@namespace FluentCMS.Web.UI

<div class="f-plugin-container" data-id="@Plugin.Id" data-order="@Plugin.Order" data-cols="@Plugin.Cols" data-cols-md="@Plugin.ColsMd" data-cols-lg="@Plugin.ColsLg">
    <PluginContainerActions Plugin="@Plugin" OnDelete="OpenDeleteConfirm"/>
    
    <ErrorBoundary>
        <ChildContent>
            <div class="f-plugin-container-content">
                @* TODO: Check contents of here renders or not on update *@
                <DynamicComponent Type=@GetPluginType() Parameters=@Parameters />
            </div>
        </ChildContent>
        <ErrorContent>
            <div class="f-plugin-container-error">
                @context.Message
            </div>
        </ErrorContent>
    </ErrorBoundary>
</div>

<Confirm Visible="DeleteConfirmModalOpen" OnClose="OnConfirmClose" OnConfirm="OnDeleteConfirm">
    Are you sure to remove this plugin from page?
</Confirm>