@inherits BasePlugin
@rendermode InteractiveServer

@namespace FluentCMS.Web.Plugins.Admin.ContentTypeManagement

<PluginBody Title="Content Type Fields" Visible="@(ContentType?.Fields != null)">
    <ActionsFragment>
        <Button @onclick="NavigateBack">
            Back
        </Button>
        <Button Color="Color.Primary" @onclick=OnCreateFieldClick>
            <Icon Name="IconName.Plus" />New Field
        </Button>
    </ActionsFragment>
    <ChildContent>
        <DataTable Items="ContentType!.Fields!.ToList()">
            <DataTableItem Label="Name">
                @context.Name
            </DataTableItem>
            <DataTableItem Label="Label">
                @context.GetString("Label")
            </DataTableItem>
            <DataTableItem Label="Type">
                <Stack>
                    <Icon Name="@FieldTypes.All[context.Type!]!.Icon"></Icon>
                    <Badge Color="Color.Primary">
                        @FieldTypes.All[context.Type!]?.Title
                    </Badge>
                </Stack>
            </DataTableItem>
            <DataTableItem Label="Required">
                <Indicator Color="Color.Success" Visible="@(context.GetBoolean("Required") == true)">Yes</Indicator>
                <Indicator Color="Color.Danger" Visible="@(context.GetBoolean("Required") == false)">No</Indicator>
                <Indicator Color="Color.Default" Visible="@(context.GetBoolean("Required") == null)">N/A</Indicator>
            </DataTableItem>
            <DataTableItem Label="Description">
                @context.GetString("Description")
            </DataTableItem>
            <DataTableItem>
                <Stack>
                    <Button Color="Color.Primary" Size="ButtonSize.Small" @onclick="@(x=> OnEditFieldClick(context))">
                        <Icon Name="IconName.Edit" />Edit
                    </Button>
                    <Button Color="Color.Danger" Outline Size="ButtonSize.Small" @onclick="@(x=> OnDeleteFieldClick(context))">
                        <Icon Name="IconName.Delete" />Delete
                    </Button>
                </Stack>
            </DataTableItem>
        </DataTable>
    </ChildContent>
</PluginBody>

<CascadingValue Value="ContentType">
    <CascadingValue Value="CurrentState">
        <ContentTypeFieldCreate OnComplete=LoadList Visible="CurrentState == FieldManagementState.Create" ContentTypeField="ContentTypeField" />
        <ContentTypeFieldUpdate OnComplete=LoadList Visible="CurrentState == FieldManagementState.Edit" ContentTypeField="ContentTypeField" />
        <ContentTypeFieldDelete OnComplete=LoadList Visible="CurrentState == FieldManagementState.Delete" ContentTypeField="ContentTypeField" />
    </CascadingValue>
</CascadingValue>
