@* TODO *@

@inherits FormElementsField

@namespace FluentCMS.Web.UI.Components

<div @attributes="AdditionalAttributes"
     class="@this.GetClasses()">
    @if (!IsInlineLabel && !string.IsNullOrEmpty(Label))
    {
        <label for="@Id"
               class="@this.ClassName("FormFieldLabel")">
            @Label
        </label>
    }
    <div class="@this.ClassName("FormFieldGroup")">
        @if (IconStart != null)
        {
            <div class="@this.ClassName("FormFieldIconStartWrapper")">
                <Icon Name="IconStart.GetValueOrDefault()" />
            </div>
        }
        @if (IsInlineLabel)
        {
            @if (Appearance == FormFieldAppearance.Switch)
            {

                <label class="@this.ClassName("FormFieldSwitchWrapper")">
                    @ChildContent
                    <span class="@this.ClassName("FormFieldLabelInline")">@Label</span>
                </label>
            }
            else
            {
                @ChildContent
                @if (!string.IsNullOrEmpty(Label))
                {
                    <label for="@Id"
                           class="@this.ClassName("FormFieldLabelInline")">
                        @Label
                    </label>
                }
            }
        }
        else
        {
            @ChildContent
        }
        @if (IconEnd != null)
        {
            <div class="@this.ClassName("FormFieldIconEndWrapper")">
                <Icon Name="IconEnd.GetValueOrDefault()" />
            </div>
        }
    </div>
    @if (!string.IsNullOrEmpty(Hint))
    {
        <p class="@this.ClassName("FormFieldHint")">
            @Hint
        </p>
    }
    @if (!Dense)
    {
        <Spacer />
    }
</div>

@code
{
    public bool IsInlineLabel
    {
        get => Appearance == FormFieldAppearance.Checkbox || Appearance == FormFieldAppearance.Radio || Appearance == FormFieldAppearance.Switch;
    }

    [CssProperty]
    public bool HasIconStart => IconStart != null && IconStart != IconName.Default;

    [CssProperty]
    public bool HasIconEnd => IconEnd != null && IconEnd != IconName.Default;
}
