@page "/components/select"
@layout ComponentsLayout;

<Page>
    <PageHeader Title="Selects" />
    <PageBody>
        <ComponentPreview Title="Default">
            <Select Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Label">
            <Select Label="This is a label"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Disabled">
            <Select Disabled="true"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Required">
            <Select Required="true"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Readonly">
            <Select readonly="@true"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Placeholder">
            <Select Placeholder="Choose an option"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Icon">
            <Select IconStart="IconName.Search"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Hint">
            <Select Hint="This is a hint"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Dense">
            <Select Dense="true"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
            <Select Dense="true"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
            <Select Dense="true"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Initial Value">
            <Select @bind-Value="Value1">
                <Option Value="1">One</Option>
                <Option Value="2">Two</Option>
                <Option Value="3">Three</Option>
            </Select>
            <Badge Color="Color.Primary">
                @Value1
            </Badge>
        </ComponentPreview>

        <ComponentPreview Title="Bind Value">
            <Select @bind-Value="Value2">
                <Option Value="1">One</Option>
                <Option Value="2">Two</Option>
                <Option Value="3">Three</Option>
            </Select>
            <Select @bind-Value="Value2">
                <Option Value="1">One</Option>
                <Option Value="2">Two</Option>
                <Option Value="3">Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Size">
            <Select Label="Small"
                    Size="InputSize.Small"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
            <Select Label="Medium (Default)"
                    Size="InputSize.Medium"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
            <Select Label="Large"
                    Size="InputSize.Large"
                    Value="@("")">
                <Option>One</Option>
                <Option>Two</Option>
                <Option>Three</Option>
            </Select>
        </ComponentPreview>

        <ComponentPreview Title="Validation">
            <Select Hint="This is a hint"
                    Label="Select"
                    Placeholder="Choose an option"
                    State="FormFieldState.Default"
                    Value="@("")" />
            <Select Hint="This is a hint"
                    Label="Select"
                    Placeholder="Choose an option"
                    State="FormFieldState.Invalid"
                    Value="@("")" />
            <Select Hint="This is a hint"
                    Label="Select"
                    Placeholder="Choose an option"
                    State="FormFieldState.Valid"
                    Value="@("")" />
        </ComponentPreview>
    </PageBody>
</Page>

@code {
    private string Value1 = "Initial";
    private string Value2;
}
