@page "/components/table"
@layout ComponentsLayout

<Page>
    <PageHeader Title="Tables" />
    <PageBody>
        <ComponentPreview Title="Default"
                          Description="Use the table component to show text, images, links, and other elements inside a structured set of data made up of rows and columns of table cells">
            <Table>
                <TableHead>
                    <TableCell>Id</TableCell>
                    <TableCell>Title</TableCell>
                    <TableCell>Created At</TableCell>
                    <TableCell>Updated At</TableCell>
                    <TableCell>State</TableCell>
                    <TableCell></TableCell>
                </TableHead>
                <TableBody>
                    @foreach (var item in data)
                    {
                        <TableRow>
                            <TableCell>#@item.Id</TableCell>
                            <TableCell>@item.Title</TableCell>
                            <TableCell>@item.CreatedAt</TableCell>
                            <TableCell>@item.UpdatedAt</TableCell>
                            <TableCell>
                                <Badge Color="Color.Primary">
                                    @item.State
                                </Badge>
                            </TableCell>
                            <TableCell>
                                Button Group
                            </TableCell>
                        </TableRow>
                    }
                </TableBody>
                <TableFoot>
                    <TableCell>Total</TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                    <TableCell>5,233</TableCell>
                    <TableCell></TableCell>
                    <TableCell>12,200</TableCell>
                </TableFoot>
            </Table>
        </ComponentPreview>


        <ComponentPreview Title="Hoverable"
                          Description="By Adding Hoverable property to Table, you can have hoverable table.">
            <Table Hoverable>
                <TableHead>
                    <TableCell>Id</TableCell>
                    <TableCell>Title</TableCell>
                    <TableCell>Created At</TableCell>
                    <TableCell>Updated At</TableCell>
                    <TableCell>State</TableCell>
                    <TableCell></TableCell>
                </TableHead>
                <TableBody>
                    @foreach (var item in data)
                    {
                        <TableRow OnClick="@(evt => currentItem = item.Title)">
                            <TableCell>#@item.Id</TableCell>
                            <TableCell>@item.Title</TableCell>
                            <TableCell>@item.CreatedAt</TableCell>
                            <TableCell>@item.UpdatedAt</TableCell>
                            <TableCell>
                                <Badge Color="Color.Primary">
                                    @item.State
                                </Badge>
                            </TableCell>
                            <TableCell>
                                Button Group
                            </TableCell>
                        </TableRow>
                    }
                </TableBody>
                <TableFoot>
                    <TableCell>Total</TableCell>
                    <TableCell></TableCell>
                    <TableCell></TableCell>
                    <TableCell>5,233</TableCell>
                    <TableCell></TableCell>
                    <TableCell>12,200</TableCell>
                </TableFoot>
            </Table>
            <Typography>
                Current Item: <Badge Color="Color.Primary">@currentItem</Badge>
            </Typography>
        </ComponentPreview>
    </PageBody>
</Page>

@code {

    string currentItem {get; set;} = "";

    public class Item
    {
        public string Id;
        public string Title;
        public string CreatedAt;
        public string UpdatedAt;
        public string State;
    }

    private List<Item> data = new List<Item> {
        new Item {
            Id= "1",
            Title = "Apple iMac 28\"",
            CreatedAt = "Tuesday, December 12, 2023 at 7:35 PM",
            UpdatedAt = "Tuesday, December 12, 2023 at 7:35 PM",
            State = "Desktop PC"
        },
        new Item {
            Id= "2",
            Title = "Apple iMac 29\"",
            CreatedAt = "Tuesday, December 13, 2023 at 7:35 PM",
            UpdatedAt = "Tuesday, December 13, 2023 at 7:35 PM",
            State = "Desktop PC"
        },
        new Item {
            Id= "3",
            Title = "Apple iMac 27\"",
            CreatedAt = "Tuesday, December 14, 2023 at 7:35 PM",
            UpdatedAt = "Tuesday, December 15, 2023 at 7:35 PM",
            State = "Desktop PC"
        },
    };
}
